ehforwarderbot
efb-telegram-master
efb-telegram-master[tgs]
git+https://github.com/0honus0/efb-wechat-cutecat-slave#egg=efb-wechat-cutecat-slave
git+https://github.com/0honus0/python-CuteCat-iHttp#egg=python-CuteCat-iHttp
git+https://github.com/xzsk2/efb-filter-middleware#egg=efb-filter-middleware
